<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

<meta property="og:type" content="{% if page.thumbnail %}article{% else %}website{% endif %}">

<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<meta property="og:image" content="{% if page.ogimage %}{{ page.ogimage | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.logo }}{% endif %}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">

<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}">

<meta property="og:site_name" content="{{ site.title }}">

<meta property="og:locale" content="en_CA">

{% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="article:author" content="{{ site.fb_admins }}">
  {% for post in site.related_posts limit:3 %}
    <meta property="og:see_also" content="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% endfor %}
{% endif %}

<meta property="fb:admins" content="{{ site.fb_admins }}">
<meta property="fb:app_id" content="{{ site.fb_appid }}">


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@alexvpickering">
<meta name="twitter:creator" content="@alexvpickering">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.ogimage %}
  <meta name="twitter:image:src" content="{{ site.url }}{{ page.ogimage }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.url }}/img/logo.png">
{% endif %}
